.centered-text{
    color: aliceblue;
    font-size: 5vw;
    text-shadow: 2px 5px 10px black;

    position: absolute;
    top: 60%;
    left: 15%;
    transform: translate(-50%, -50%);
}
#pre-button{    
    position: absolute;
    left: 1%;
}
#next-button{
    position: absolute;
    right: 1%;
}
#full_page{
    width: 95%;
    margin: 0 auto;
}
#map{
    margin-top: 20px;
    box-shadow: 10px 5px 10px black;
}
.carousel{
    box-shadow: 0px 5px 10px 10px black;
}