#index-body{
    background-color: rgb(224,224,224);
}

.centered-text{
    color: aliceblue;
    font-size: 5vw;
    text-shadow: 2px 5px 10px black;
    text-align: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family:'Gill Sans',sans-serif;
    opacity: 90%;
}
#pre-button{    
    position: absolute;
    left: 1%;
}
#next-button{
    position: absolute;
    right: 1%;
}
/* #full_page{
    margin: 0 auto;
} */
#map{
    box-shadow: 10px 5px 10px black;
}
.carousel{
    box-shadow: 0px 0px 30px 0px black;
}
#summary{
    font-size: 20px;
    text-align: center;
    font-family: 'Times New Roman', serif;
    /* background-color: white; */
    
}
.summary-box{
    

}
.takvim{
    background-color: white;
    text-align: left;
    border: 3px solid black;
    border-radius: 3%;
}
.takvim li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .takvim li span {
    flex-basis: 120px;
    text-align: left;
    margin-left: 5px;
  }
#bottom-infos{
    background-color: rgb(24, 24, 24);
    margin-top: 5vw;
}
#bottom-info-list{
    text-align: left;
}
#bottom-middle-col{
    border-right: 1px solid black;
    border-left: 1px solid black;
}
.carousel-item{
    object-fit: cover;
    height: 45vw;
}
/* .insta-post{
    height: 20vw;
} */
#carouselExampleInterval{
    min-width: fit-content;
    min-height: 100%;
}
#instagram-posts-carousel{
    margin-left: 20%;
}
.bottom-text{
    color: white;
}
