.navbar-nav1{
    margin-left: 40%;
}

.nav1{
    background-color: rgb(29, 27, 27);
}
.nav-logo{
    width: 40vw;
    height: 27%;
    margin-left: 5%;
}
#nav-1-items{
    padding-right: 100%;
    transition: text-shadow 0.2s ease-out 10ms; 
}

#nav-1-items:hover{
    /* text-shadow: 5px 5px 5px gray; */
    -webkit-text-stroke: 0.5px black;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

#vertical {
    border-right: 1px solid black;
    height: 50%;
}
#mail{
    display: inline-block;
    -webkit-text-fill-color: white;
}
#phone{
    display: inline-block;
    -webkit-text-fill-color: white;
}
.mail-item{
    display: inline-block;
}
.left-nav{
    margin-left: 6vw;
    float:left;
    margin-right: 60%;
}
.right-nav{
    float: left;
    /* width: 70%; */
}
/* .social-icon{
    margin-left: 200px;
} */